
#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats


#---------------------------------------------------------------------
# gateway server settings
#---------------------------------------------------------------------
defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000


#---------------------------------------------------------------------
# Palworld server gateway
#---------------------------------------------------------------------
listen palworldsv01
    bind 0.0.0.0:8211
    mode udp
    option tcplog
    balance roundrobin
    server pl01 12.3.4.5:8211 send-proxy-v2
